$background: #2980b9;
$text-color: #222;
$header-font-family: Helvetica, Arial, sans-serif;
$body-font-family: 'Courier New', Courier, monospace;

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    color: $text-color;
}

p {
    font-family: $body-font-family;
}

body {
    background: $background;
}

.island-container {
    position: absolute;
    width: 50%; //is this necessary?

    .island {
        min-width: 100px;
        min-height: 100px;
        background-repeat: no-repeat;
        position: absolute;
        cursor: pointer;
    }

    &:hover {
        filter: brightness(0.9);
    }

    .title {
        position: relative;
        z-index: 99;
    }
}

.single-island-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px;
    width: 80%;
    /* min-height: 100vh; */
    z-index: 999;
    overflow-y: scroll;
    overflow-x: hidden;

    img {
        width: 15%
    }

    h1 {
        margin: 30px 0;
    }

    iframe {
        margin-top: 50px;
        border: 0;
        width: 60%;
        height: 1000px;
    }

    .close-btn {
        font-size: 32px;
        cursor: pointer;
        color: red;
        position: absolute;
        right: 50px;
        margin: 0;
        font-weight: bold;
    }
}