@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* Base styles for all headings */
h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 15px;
}

/* Specific styles for each heading */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }
}
